<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div style="width: 500px; margin: 50px auto">
<!--    div wyśrotkowujący-->

    <!--    wyświetlanie listy-->
<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center" th:each="product: ${products}">
        Cras justo odio
        <span th:text="|${product.name}|"></span>
        <span class="badge bg-primary rounded-pill" th:text="|${product.price}zł|"></span>
    </li>

    <p th:text="|Suma cen: ${priceSum}zł|"></p>

</ul>
</div>

</body>
</html>