<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tabela</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div style="width: 500px; margin: 50px auto">
<!--    div wyśrotkowujący-->

<!--    //tabela-->
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nazwa</th>
            <th scope="col">Cena</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product, iter: ${products}">
<!--            iter ponumeruje wiersze w tabeli-->
            <th scope="row" th:text="${iter.count}">1</th>
<!--            iter ponumeruje wiersze w tabeli-->
            <td th:text="${product.name}">Mark</td>
            <td th:text="|${#numbers.formatDecimal(product.price, 0, 'WHITESPACE', 2, 'COMMA')} zł|">Otto</td>
            <td>@mdo</td>
        </tr>
        </tbody>
    </table>

    <br/>

    <!--    wyświetlanie listy-->
<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center" th:each="product: ${products}">
        <span th:text="${product.name}"></span>
<!--        cena wyświetla się po prawej stronie-->
        <span th:text="|${#numbers.formatDecimal(product.price, 0, 'WHITESPACE', 2, 'COMMA')} zł|"></span>
<!--        cena z dwoma zerami po przecinku i z spacja od części tysięcznych-->
    </li>

<!--    suma cen pogrubiona-->
    <b th:text="|Suma cen: ${#numbers.formatDecimal(priceSum, 0, 'WHITESPACE', 2, 'COMMA')} zł|"></b>

</ul>
</div>

</body>
</html>